{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/forbid-prop-types": "off",
    "no-param-reassign": "off",
    "no-shadow": "off"
  },
  "globals": {
    "window": true,
    "document": true
  }
}
